@model ServiceTRAX.ViewComponents.WidgetTEGViewComponent.WidgetTEGViewComponentModel

<div id="content-wrap"
     onmouseover="document.getElementById('@(Model.GridID)_infoicon').style.display = 'unset'"
     onmouseout="document.getElementById('@(Model.GridID)_infoicon').style.display = 'none'">
    <div id="@(Model.GridID)_infoicon"
         style="display:none; position:relative; z-index: 2; color: cornflowerblue; opacity: 0.5" class="p-2"
         onmouseenter="document.getElementById('@(Model.GridID)_title').style.display = 'unset'"
         onmouseleave="document.getElementById('@(Model.GridID)_title').style.display = 'none'">
        <i class="fas fa-info-circle"></i>
    </div>
    <div id="@(Model.GridID)_title" class="m-2"
         style="
        display: none;
        z-index: 2;
        position: absolute;
        bottom: 0%;
        right: 0%;
        width: 300px;
        text-align: center;
        border-radius: 3px;
        background-color: rgba(100, 149, 237, 0.60);
        color: black;">@Model.GridTitle
    </div>

    <div class="gridContent" id="@Model.GridID"></div>
</div>

<script type="text/javascript" on-content-loaded="true">
    let gridParameters = () => ({ ORGANIZATION_ID: @Model.OrganizationID, RUNNING_AS_USERID: @Model.RunningAsUserID });
    let gridEvents = {};
    let oGrid = new clsMyGrid('@Model.GridName', document.getElementById('@Model.GridID'), null, gridEvents, true, gridParameters());
</script>

