@model ServiceTRAX.Models.ViewModels.ServiceTRAXQRListTEGViewModel
@using ServiceTRAX.Identity
@{
    ViewData["Title"] = string.IsNullOrEmpty(Model.PageTitle) ? ViewData["Title"] = "View Quote Requests" : Model.PageTitle;
}

@section StyleSheets {

    <style>
        .gridContent {
            position: absolute;
            border: solid 1px #c0c0c0;
            left: 20px;
            top: 130px;
            right: 20px;
            bottom: 30px;
        }

        .gridContent-with-title {
            position: absolute;
            border: solid 1px #c0c0c0;
            left: 20px;
            top: 170px;
            right: 20px;
            bottom: 30px;
        }
    </style>
}

@section Scripts {

    <link rel="stylesheet" href="~/css/mygrid.1.0.css">
    <script language="javascript" type="text/javascript" src="~/lib/mygrid.1.0.js?1"></script>


    <script type="text/javascript">

        $(function () {
            var model =  @Html.Raw(Json.Serialize(Model));

            let gridParameters = () => ({ 'ORGANIZATION_ID': model.organizationID, 'USER_ID': @User.GetUserID(), 'QRSTATUS': model.qrStatus, 'USERTYPE': model.userType });
            let gridEvents = {
                buttonClick: function (btn, row) {
                    if (btn.id === 'OpenQuoteRequestScreen') {
                        redirectToPage('/Request', { 'RequestID': row.REQUEST_ID, 'OrganizationID': @Model.OrganizationID});
                    }
                }
            };
            new clsMyGrid('QuoteRequests', document.getElementById('QRListTEG'), null, gridEvents, true, gridParameters());
        });

        const openRequest = function (request_id) {
            redirectToPage('/Request', { 'RequestID': request_id, 'OrganizationID': @Model.OrganizationID});
        }
    </script>

}


<div id="content">
    <div class="container-fluid">
        @if (!string.IsNullOrEmpty(Model.PageTitle))
        {
            <div class="row">
                <div class="col pl-0 ml-0">
                    <h2>@Model.PageTitle</h2>
                </div>
            </div>
        }
        <div class="row">
            <div class="d-flex">
                <div id="content-wrap">
                    <div class="@(string.IsNullOrEmpty(Model.PageTitle) ?  "gridContent" : "gridContent-with-title")" id="QRListTEG"></div>
                </div>
            </div>
        </div>
    </div>
</div>

