@model ServiceTRAX.Models.ViewModels.ServiceTRAXSVCACCTJobsListTEGViewModel
@using ServiceTRAX.Identity
@using ServiceTRAX.Identity.Authorization

@{
    ViewData["Title"] = "View Service Request Jobs";
}

@section StyleSheets {

    <style>
        .gridContent {
            position: absolute;
            border: solid 1px #c0c0c0;
            left: 20px;
            top: 130px;
            right: 20px;
            bottom: 30px;
        }
    </style>


    @if (!User.UserHasThisPermission(Permissions.ServiceRequestClose))
    {
        <style>
            .close-sr-teg-button-for-roles {
                display: none;
            }
        </style>
    }
}

@section Scripts {

    <link rel="stylesheet" href="~/css/mygrid.1.0.css" asp-append-version="true">
    <script language="javascript" type="text/javascript" src="~/lib/mygrid.1.0.js" asp-append-version="true"></script>
    <script language="javascript" type="text/javascript" src="~/lib/server.js" asp-append-version="true"></script>

    <script type="text/javascript">

        var oGrid = null;
        $(function () {
            var model =  @Html.Raw(Json.Serialize(Model));

            let gridEvents = {
                  buttonClick: function (btn, row) {
                    if (btn.id === 'cmdSvcAcctDetailsOpenSR') {
                        redirectToPage('/Request', { 'RequestID': row.REQUEST_ID, 'OrganizationID': model.organizationID}, true);
                    }
                }
            };
            let gridParameters = () => ({ 'ORGANIZATION_ID': model.organizationID, 'RUNNING_AS_USER_ID': @User.GetUserID() });
            oGrid = new clsMyGrid('ServiceAccountJobs', document.getElementById('SvcAcctJobsTEG'), null, gridEvents, true, gridParameters());
        });

        const openRequest = function (request_id) {
            redirectToPage('/Request', { 'RequestID': request_id, 'OrganizationID': @Model.OrganizationID});
        }

        const openSubtegFromLink = function (job_no) {

            let button = {
                "id": "cmdOpenSRDetails",
                "actionType": "openGrid",
                "gridToOpen": "ServiceAccountJobsDetail",
                "icon": "fas fa-external-link-alt",
                "title": "Open Service Request",
                "label": "Open Service Request",
                "url": "",
                "multiselect": false,
                "target": "popUp",
                "confirmationMessage": "",
                "refreshDataAfterExecution": true
            };

            oGrid.executeButton(0, button, { 'JOB_NO': job_no, 'ORGANIZATION_ID': @Model.OrganizationID, 'RUNNING_AS_USER_ID': @User.GetUserID() });
        }

    </script>

}

<div id="content-wrap">
    <div class="gridContent" id="SvcAcctJobsTEG"></div>
</div>

