@model ServiceTRAX.Models.ViewModels.QuoteRequestModel
@using ServiceTRAX.Utils
@using ServiceTRAX.Models.DBModels
@using ServiceTRAX.Identity
@using ServiceTRAX.Identity.Authorization

@{
    Layout = null;
}

@functions {
    string ValueToYesNo(char? value)
    {
        if (value.HasValue)
        {
            return value.Value == 'Y' ? "Yes" : "No";
        }
        return "No";
    }

    string ValueToYesNo(bool value)
    {
        return value ? "Yes" : "No";
    }

    string DateToDisplayValue(DateTime? date)
    {
        if (date.HasValue)
        {
            return date.Value.ToString("d");
        }
        return "N/A";
    }

    string HourToDisplayValue(DateTime? date, bool IgnoreConversion)
    {
        if (date.HasValue && !IgnoreConversion)
        {
            return date.Value.ToString("t");
        }
        return "N/A";
    }

    string ShowedAddress(JobLocation jl)
    {
        var AddressComps = new string[] { jl?.street1 ?? string.Empty, jl?.street2 ?? string.Empty, jl?.street3 ?? string.Empty, jl?.city ?? string.Empty, jl?.zip ?? string.Empty, jl?.state ?? string.Empty };
        return string.Join(", ", AddressComps.Where(a => !string.IsNullOrWhiteSpace(a)).Select(a => a.Trim()));
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - ServiceTRAX</title>

    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/print.css" />
    <link rel="stylesheet" href="~/override/main-custom.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/all.min.css" />

</head>
<body id="QuoteRequests">


    <div class="container-fluid">
        <main role="main" class="pb-3">

            <div id="content">
                <div class="container-fluid" id="QuoteRequests">
                    <div class="row">
                        <div class="col mb-4 ">
                            <div class="d-flex">
                                <h2 class="align-self-start">SERVICE REQUEST</h2>
                            </div>

                            <h4>
                                <small class="text-muted">JOB # @Model.Request_Data.project_no</small>
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <form novalidate>
                                <div class="collapse-panel-control" id="requestHeaderPanelControl">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <h5 class="collapse-panel__heading m-0">REQUEST HEADER</h5>
                                        </div>
                                    </div>

                                </div>
                                <div class="collapse-panel show" id="request-header">
                                    <div class="row mt-2">
                                        <div class="col-8">
                                            <div class="form-row mb-3">
                                                <div class="col-12">
                                                    <label>
                                                        Job Name
                                                        <span class="req">*</span>
                                                    </label>
                                                    <p class="text-default mt-2">@Model.Request_Data.project_name</p>
                                                    <!-- Silvio - Change to text only -->
                                                    <!--<input type="text" class="form-control" maxlength="50" value="@Model.Request_Data.project_name" />-->
                                                </div>
                                            </div>
                                            <div class="form-row mb-3">
                                                <div class="col-6">
                                                    <label>Status</label>
                                                    <p class="text-default mt-2">@Model.QuoteRequestStatus</p>
                                                    <!-- Silvio - Change to text only -->
                                                    <!--<input type="text" class="form-control" value="@Model.QuoteRequestStatus" disabled="disabled" />-->

                                                </div>
                                                <div class="col-6 d-none print-only">
                                                    <label>Order/Line</label>
                                                    <p class="text-default mt-2">Placeholder</p>
                                                    <!-- Silvio - Change to text only -->
                                                    <!--<input type="text" class="form-control" value="value:$root.OrderLineHeaderText" disabled="disabled" />-->
                                                </div>
                                            </div>

                                            <div class="form-row mb-3">
                                                <div class="col-3">
                                                    <label>SR #</label>
                                                    <p class="text-default mt-2">@Model.Request_Data.Quote_Number</p>
                                                    <!-- Silvio - Change to text only -->
                                                    <!--<input type="text" class="form-control" value="value: request_Data.quote_Number" disabled="disabled" />-->
                                                </div>
                                                <div class="col-3">
                                                    <label>Job #</label>
                                                    <p class="text-default mt-2">@Model.Request_Data.project_no</p>
                                                    <!-- Silvio - Change to text only -->
                                                    <!--<input type="text" class="form-control" value="value: request_Data.project_no" disabled="disabled" />-->
                                                </div>
                                                <div class="col-3">
                                                    <label>Request #</label>
                                                    <p class="text-default mt-2">@Model.Request_Data.request_no</p>
                                                    <!-- Silvio - Change to text only -->
                                                    <!--<input type="text" class="form-control" value="value: request_Data.request_no" disabled="disabled" />-->
                                                </div>
                                                <div class="col-3">
                                                    <label>Version #</label>
                                                    <p class="text-default mt-2">@Model.Request_Data.version_no</p>
                                                    <!-- Silvio - Change to text only -->
                                                    <!--<input type="text" class="form-control" value="value: request_Data.version_no" disabled="disabled" />-->
                                                </div>
                                            </div>

                                            <div class="form-row mb-3">
                                                <div class="col-6">
                                                    <label>
                                                        Types of Service
                                                        <span class="req">*</span>
                                                    </label>
                                                    <p class="text-default mt-2">@Model.ServiceTypes.FirstOrDefault(t => t.ServiceTypeID == Model.Request_Data.project_type_id)?.ServiceName</p>
                                                    <!-- Silvio - Change to text only -->
                                                    <!--<div>

                                <select id="serviceTypes"
                                        data-style="btn-white shadow-sm"
                                        data-bind="selectPicker:true, enable: !isAdditionalRequest && !isReadOnly && isNew,
                        options: serviceTypes, optionsText: 'serviceName',
                        optionsValue: 'serviceTypeID', value: $root.request_Data.project_type_id,
                        valueAllowUnset: true"
                                        data-none-selected-text="...">
                                </select>
                            </div>-->
                                                </div>

                                                <div class="col-6">
                                                    <label>
                                                        Customer/Dealer Name
                                                        <span class="req">*</span>
                                                    </label>
                                                    <p class="text-default mt-2">@Model.AllCustomers.FirstOrDefault(c => c.Customer_Id == Model.Request_Data.customer_id)?.Customer_Name</p>
                                                    <!-- Silvio - Change to text only -->
                                                    <!--<div>

                            <select data-live-search="true"
                                            data-style="btn-white shadow-sm"
                                            id="customerName"
                                            data-bind="enable: !isAdditionalRequest && !isReadOnly && isNew, selectPicker:true, options: allCustomers, optionsText: 'customer_Name', optionsValue: 'customer_Id', value: request_Data.customer_id, valueAllowUnset: true"
                                            data-none-selected-text="...">
                            </select>
                        </div>-->
                                                </div>
                                            </div>

                                            <div class="form-row mb-3">
                                                <div class="col-6">
                                                    <label>
                                                        Project Manager
                                                    </label>
                                                    <p class="text-default mt-2 mb-1">@Model.ProjectManagers.FirstOrDefault(p => p.ProjectManagerID == Model.Request_Data.Project_Manager_Id)?.ProjectManagerName</p>
                                                    <small>@(Model.ProjectManagers.FirstOrDefault(p => p.ProjectManagerID == Model.Request_Data.Project_Manager_Id)?.Phone ?? "Phone information missing")</small>
                                                    <br />
                                                    <small>@(Model.ProjectManagers.FirstOrDefault(p => p.ProjectManagerID == Model.Request_Data.Project_Manager_Id)?.Email ?? "Email information missing")</small>
                                                    <!-- Silvio - Change to text only -->
                                                    <!--<div data-bind="validationElement: request_Data.project_Manager_Id">
                                <select data-style="btn-white shadow-sm"
                                        data-bind="selectPicker:true,
                        disable: isReadOnly,
                        options: projectManagers,
                        optionsText: 'projectManagerName',
                        optionsValue: 'projectManagerID',
                        value: request_Data.project_Manager_Id,
                        valueAllowUnset: true,
                        optionsAfterRender: projectManagerOptionsAfterRender"
                                        data-none-selected-text="..."
                                        required>
                                </select>
                            </div>

                            <div class="ml-2" data-bind="with:selectedProjectManagerInfo">
                                <div data-bind="template: {name: 'header-contact-info-template' }"></div>
                            </div>-->

                                                </div>

                                                <div class="col-12 col-md-6">
                                                    <label>
                                                        Salesperson
                                                        <span class="req">*</span>
                                                    </label>
                                                    <p class="text-default mt-2 mb-1">@Model.Salespersons.FirstOrDefault(s => s.SalespersonID == Model.Request_Data.a_m_sales_contact_id)?.SalespersonName</p>
                                                    <small>@(Model.Salespersons.FirstOrDefault(s => s.SalespersonID == Model.Request_Data.a_m_sales_contact_id)?.Phone ?? "Phone information missing")</small>
                                                    <br />
                                                    <small>@(Model.Salespersons.FirstOrDefault(s => s.SalespersonID == Model.Request_Data.a_m_sales_contact_id)?.Email ?? "Email information missing")</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4 pt-0">
                                            <div class="">
                                                <div class="bg-dark-form__header">
                                                    <h5>
                                                        Customer/Dealer Contacts
                                                    </h5>
                                                </div>

                                                @{
                                                    int contactIndex = 1;
                                                    foreach (var contact in Model.RequestContacts)
                                                    {
                                                        var contactInstance = @Model.AllCustomerContacts.FirstOrDefault(c => c.Contact_ID == contact);
                                                        <div class="col-12 col-md-6">
                                                            <label>
                                                                Contact Person @(contactIndex++)
                                                            </label>
                                                            <p class="text-default mt-2 mb-1">@contactInstance?.Contact_Name</p>
                                                            <small>@(contactInstance?.Contact_Phone ?? "Phone information missing")</small>
                                                            <br />
                                                            <small>@(contactInstance?.Email ?? "Email information missing")</small>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <!------------------------>
                                <div class="collapse-panel-control" id="jobScopePanelControl">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <h5 class="collapse-panel__heading m-0">JOB SCOPE</h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="collapse-panel show" id="job-scope">

                                    <div class="row mt-2">
                                        <div class="col">
                                            <div class="form-row mb-3">
                                                <div class="col-3">
                                                    <label>Schedule Type</label>
                                                    <p class="text-default mt-2">@Model.ScheduleTypes.FirstOrDefault(s => s.id == Model.Request_Data.schedule_type_id)?.name</p>
                                                    <!-- Silvio - Change to text only -->
                                                    <!--<select data-style="btn-white shadow-sm"
                                data-bind="selectPicker:true, disable: isReadOnly, options: scheduleTypes, optionsText: 'name', optionsValue: 'id', value: request_Data.schedule_type_id"
                                data-none-selected-text="...">
                        </select>-->
                                                </div>
                                                <div class="col-3">
                                                    <div class="form-check-custom">
                                                        <label class="form-check-label" for="scheduledWithClientCheck">
                                                            Schedule with client?
                                                        </label>
                                                        <p class="text-default mt-2">@ValueToYesNo(Model.Request_Data.schedule_with_client_flag)</p>
                                                        <!-- Silvio - Add Checkbox value from database -->
                                                        <!--<div class="magic-checkbox-wrapper">
                                <input class="magic-checkbox" type="checkbox" id="scheduledWithClientCheck"
                                       data-bind="disable: isReadOnly, yesnoCheckboxValue: request_Data.schedule_with_client_flag" />
                                <label for="scheduledWithClientCheck">Yes</label>
                            </div>-->
                                                    </div>
                                                </div>
                                                <!-- Silvio - The whole Punch List column is not displayed, probably safe to remove -->
                                                <div class="col-3">
                                                    <div class="form-check-custom" data-bind="visible:request_Data.ispunchlist">
                                                        <label class="form-check-label" for="punchListCheck">
                                                            Punch List
                                                        </label>
                                                        <p class="text-default mt-2">@ValueToYesNo(Model.Request_Data.ispunchlist)</p>
                                                        <!-- Silvio - Add Checkbox value from database (if needed) -->
                                                        <!--<div class="magic-checkbox-wrapper">
                                <input class="magic-checkbox" type="checkbox" id="punchListCheck"
                                       data-bind="disable:true, checked:true" />
                                <label for="punchListCheck">Yes</label>
                            </div>-->
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-row mb-3">
                                                <div class="col-3">
                                                    <label for="estimatedServiceDate">
                                                        Estimated Service Date
                                                    </label>
                                                    <p class="text-default mt-2">@DateToDisplayValue(Model.Request_Data.est_start_date)</p>
                                                    <!-- Silvio - Change to text only -->
                                                    <!--<div class="input-group" id="triggerCalendarStartDate" data-bind="validationElement: request_Data.est_start_date">
                            <input type="text" class="form-control"
                                autocomplete="off"
                                id="estimatedServiceDate"
                                data-bind="disable: readOnlyServiceDate, datepicker: request_Data.est_start_date, datepickerOptions: est_start_date_options(readOnlyServiceDate)"
                                required />
                        </div>-->
                                                </div>

                                                <!-- ko if:needsSchedulerHour -->
                                                <div class="col-3">
                                                    <label for="estimatedServiceHour">
                                                        Est. Service Hour
                                                    </label>
                                                    <p class="text-default mt-2">@HourToDisplayValue(Model.Request_Data.est_start_date, Model.Request_Data?.project_type_id == 5)</p>
                                                    <!-- Silvio - Change to text only -->
                                                    <!--<input type="time" class="form-control" data-bind="disable: estimatedServiceHourDisable || readOnlyServiceDate, attr: {title: estimatedServiceHourTitle }, value: estimatedServiceHour" required />-->
                                                </div>
                                                <!-- /ko -->

                                                <div class="col-3">
                                                    <label for="validationServerUsername">
                                                        Estimated Completion Date
                                                    </label>
                                                    <p class="text-default mt-2">@DateToDisplayValue(Model.Request_Data.est_end_date)</p>
                                                    <!-- Silvio - Change to text only -->
                                                    <!--<div class="input-group" id="triggerCalendarEndDate">
                            <input type="text"
                                autocomplete="off"
                                class="form-control"
                                id="estimatedEndDate"
                                data-bind="disable: readOnlyServiceDate, datepicker: request_Data.est_end_date,
                            datepickerOptions: est_end_date_options(readOnlyServiceDate)"
                                required />
                        </div>-->
                                                </div>
                                                <div class="col-3">
                                                    <label for="daysToComplete">
                                                        # of days to Complete
                                                        <span class="req">*</span>
                                                    </label>
                                                    <p class="text-default mt-2">@Model.Request_Data.days_to_complete</p>
                                                    <!-- Silvio - Change to text only -->
                                                    <!--<div class="input-group">
                            <input type="text" class="form-control" id="daysToComplete"
                                    data-bind="disable: readOnlyServiceDate, value: request_Data.days_to_complete, validationElement: request_Data.days_to_complete" required />
                        </div>-->
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="form-row mb-3">
                                                        <div class="col-3">
                                                            <label>
                                                                Work Type
                                                                <span class="req">*</span>
                                                            </label>
                                                            <p class="text-default mt-2">@(Model.WorkTypes.FirstOrDefault(w => w.id == Model.Request_Data.work_type_lookup_id)?.name)</p>
                                                            <!-- Silvio - Change to text only -->
                                                            <!--<div class="w-100" data-bind="validationElement: request_Data.work_type_lookup_id">
                                    <select data-style="btn-white shadow-sm"
                                            data-bind="selectPicker:true, disable: isReadOnly, options: workTypes, optionsText: 'name', optionsValue: 'id', value: request_Data.work_type_lookup_id, valueAllowUnset: true"
                                            data-none-selected-text="...">
                                    </select>
                                </div>-->
                                                        </div>
                                                        <div class="col-3">
                                                            <label>Weekend</label>
                                                            <p class="text-default mt-2">@ValueToYesNo(Model.Request_Data.include_weekends_flag)</p>
                                                            <!-- Silvio - Add Checkbox value from database (if needed) -->
                                                            <!--<div class="magic-checkbox-wrapper">

                                    <input class="magic-checkbox" type="checkbox" id="weekendCheck" data-bind="disable: isReadOnly, yesnoCheckboxValue: request_Data.include_weekends_flag" />
                                    <label for="weekendCheck">Yes</label>
                                </div>-->
                                                        </div>

                                                        <!-- ko ifnot:isSR -->
                                                        <div class="col-4">
                                                            <label for="daysToComplete">
                                                                Hedberg Quote #
                                                            </label>
                                                            <p class="text-default mt-2">@Model.Request_Data.ExternalHeaderNumber</p>
                                                            <!-- Silvio - Change to text only -->
                                                            <!--<div class="input-group">
                                    <input type="text" class="form-control" id="externalHeaderNumber"
                                           data-bind="enable: enableExternalQuoteField, value: request_Data.externalHeaderNumber" required />
                                </div>-->
                                                        </div>
                                                        <!-- /ko -->

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row mb-3">
                                                <div class="col-6">
                                                    <div class="">
                                                        <div class="bg-dark-form__header">
                                                            <h5>
                                                                Systems Furniture / Shipping Method
                                                            </h5>
                                                        </div>
                                                        @{
                                                            foreach (var reqProd in Model.RequestProduct?.Where(r => r.product_lookup_id != null) ?? Enumerable.Empty<RequestProduct>())
                                                            {
                                                                <div class="row">
                                                                    <div class="col-4">
                                                                        <p class="text-default mt-2">@(Model.SystemsFurniture.FirstOrDefault(s => s.SystemFurnitureID == reqProd.product_lookup_id)?.SystemFurnitureName)</p>
                                                                    </div>
                                                                    <div class="col-4">
                                                                        <p class="text-default mt-2">@(Model.ShippingMethod.FirstOrDefault(s => s.id == reqProd.Shipping_Method_Lookup_ID)?.name)</p>
                                                                    </div>

                                                                </div>
                                                            }
                                                        }
                                                        <div class="bg-dark-form__body">
                                                            <!-- Silvio - Change to text only -->
                                                            <div data-bind="template: {name: 'request-product-template', foreach: requestProduct, afterAdd: applyBootstrapStyles }"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="bg-dark-form">
                                                        <div class="bg-dark-form__header">
                                                            <h5>
                                                                Other Product or Service & Shipping Method
                                                            </h5>
                                                        </div>

                                                        @{
                                                            foreach (var reqProd in Model.RequestProduct?.Where(r => r.product_lookup_id == null) ?? Enumerable.Empty<RequestProduct>())
                                                            {
                                                                <div class="row">
                                                                    <div class="col-4">
                                                                        <p class="text-default mt-2">@reqProd.Product_Other</p>
                                                                    </div>
                                                                    <div class="col-4">
                                                                        <p class="text-default mt-2">@(Model.ShippingMethod.FirstOrDefault(s => s.id == reqProd.Shipping_Method_Lookup_ID)?.name)</p>
                                                                    </div>

                                                                </div>
                                                            }
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                            <!--<div class="form-row">
                    <div class="col-4" data-bind="visible: $root.request_Data.project_type_id() === 5 && isSR && !request_Data.isSendToSchedule()">
                        <div class="bg-dark-form">
                            <div class="bg-dark-form__header">
                                <h5>
                                    Resources
                                </h5>
                            </div>
                            <div class="bg-dark-form__body">-->
                                            <!-- Silvio - Change to text only -->
                                            <!--<select data-style="btn-white shadow-sm"
                        data-bind="selectPicker:true, enable: !isAdditionalRequest && !isReadOnly, options: scopeResources, optionsText: 'resourceName', optionsValue: 'resourceID', valueAllowUnset: true, selectedOptions: $root.scopeSelResources"
                        data-none-selected-text="N/A"
                        multiple>
                </select>-->
                                            <!--</div>
                        </div>
                    </div>
                </div>-->

                                            <div class="form-row mb-3 mt-4">
                                                <div class="col-12">
                                                    <label>
                                                        Work Request
                                                    </label>
                                                    <p class="text-default mt-2">@Html.Raw(Model.Request_Data.description)</p>
                                                    <!-- Silvio - Change to text only -->
                                                    <!-- <span class="custom-editor"
                                    data-bind="trumbowyg: request_Data.description,
                        trumbowygOptions: { disabled: isReadOnly },
                        validationElement: request_Data.description"></span>-->
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <!------------------------>
                                <div class="collapse-panel-control" id="endUserInformationPanelControl">
                                    <div class="row">
                                        <div class="col">
                                            <h5 class="collapse-panel__heading m-0">END USER/DEALER CUSTOMER INFO</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="collapse-panel show" id="endUserInformation">
                                    @{
                                        var jobLocation = Model.JobLocations.FirstOrDefault(l => l.job_location_id == Model.Request_Data.job_location_id);
                                        <div class="form-row mt-2 mb-3">
                                            <div class="col-4">
                                                <label>
                                                    End User/Dealer Customer Name
                                                    <span class="req">*</span>
                                                </label>
                                                <p class="text-default mt-2">@(Model.EndUsers.FirstOrDefault(u => u.end_user_id == Model.Request_Data.end_user_id)?.end_user_name)</p>
                                                <!-- Silvio - Change to text only -->
                                                <!--<div class="d-flex">
                    <div class="w-100" data-bind="validationElement: request_Data.end_user_id">-->
                                                <!-- ko if:endUsers().length > 10 -->
                                                <!--<select data-style="btn-white shadow-sm"
                            data-live-search="true"
                            data-size="10"
                            data-bind="enable: !isAdditionalRequest && !isReadOnly && request_Data.customer_id() !== null && isNew, selectPicker:true, options: endUsers, optionsText: 'end_user_name', optionsValue: 'end_user_id', value: request_Data.end_user_id, valueAllowUnset: true"
                            data-none-selected-text="...">
                    </select>-->
                                                <!-- /ko -->
                                                <!-- ko ifnot:endUsers().length > 10 -->
                                                <!-- Silvio - Change to text only -->
                                                <!--<select data-style="btn-white shadow-sm"
                            data-bind="enable: !isAdditionalRequest && !isReadOnly && request_Data.customer_id() !== null && isNew, selectPicker:true, options: endUsers, optionsText: 'end_user_name', optionsValue: 'end_user_id', value: request_Data.end_user_id, valueAllowUnset: true"
                            data-none-selected-text="...">
                    </select>-->
                                                <!-- /ko -->
                                                <!--</div>
                    </div>-->

                                            </div>


                                            <div class="col-4">
                                                <label>
                                                    Job Location
                                                    <span class="req">*</span>
                                                </label>
                                                <p class="text-default mt-2">@jobLocation?.job_location_name</p>
                                                <!-- Silvio - Change to text only -->
                                                <!--<div class="d-flex">
                        <div class="w-100" data-bind="validationElement: request_Data.job_location_id">
                                <select data-style="btn-white shadow-sm"
                                        data-bind="selectPicker:true, disable: isReadOnly || request_Data.customer_id() === null || request_Data.end_user_id() === null,  options: jobLocations, optionsText: 'job_location_name', optionsValue: 'job_location_id', value: request_Data.job_location_id, valueAllowUnset: true"
                                        data-none-selected-text="...">
                                </select>
                        </div>
                    </div>-->
                                            </div>
                                            <div class="col-4" style="align-self: flex-end;">
                                                <label>
                                                    Address:
                                                </label>
                                                <p class="text-default mt-2">@ShowedAddress(jobLocation)</p>
                                                <!-- Silvio - Change to text only -->
                                                <!--<strong>
                        <span data-bind="text: showedAddress()" style="font-size:1.2em;"></span>
                    </strong>-->
                                            </div>
                                        </div>


                                        <div class="form-row mb-3">

                                            <div class="col-6">
                                                <div class="bg-dark-form">
                                                    <h5>
                                                        Building Mgmt Contact
                                                    </h5>
                                                    @if (string.IsNullOrEmpty(jobLocation?.buildingmgmtcontactname))
                                                    {
                                                        <p class="text-default mt-2 mb-1">@jobLocation.buildingmgmtcontactname</p>
                                                        <small>@(jobLocation.buildingmgmtcontactphone ?? "Phone not available")</small>
                                                        <br />
                                                        <small>@(jobLocation.buildingmgmtcontactemail ?? "Email not available")</small>
                                                    }
                                                    else
                                                    {
                                                        <p class="text-default mt-2">N/D</p>
                                                    }
                                                    <!-- Silvio - Change to text only -->
                                                    <!--<div data-bind="visible:job_location_details().buildingmgmtcontactid ">

                            <input type="text" class="form-control" data-bind="disable: true, value: job_location_details().buildingmgmtcontactname" />
                            <div class="d-flex">
                                <div class="flex-grow-1">
                                    <ul class="list-unstyled">
                                        <li>
                                            <br />
                                            <small class="text-orange" data-bind="text: job_location_details().buildingmgmtcontactphone">Phone not available</small>
                                            <br />
                                            <small class="text-orange" data-bind="text: job_location_details().buildingmgmtcontactemail">Email not available</small>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>-->
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4 pt-3 pt-md-0">
                                                <div>

                                                    <h5>
                                                        On-Site Contacts
                                                        <span class="req">*</span>
                                                    </h5>

                                                    @foreach (var reqContactId in Model.RequestLocationContacts)
                                                    {
                                                        var reqContact = Model.LocationContacts.FirstOrDefault(c => c.Contact_ID == reqContactId);
                                                        <p class="text-default mt-2 mb-1">@reqContact?.Contact_Name</p>
                                                        <small>@(reqContact?.Contact_Phone ?? "Phone information missing")</small>
                                                        <br />
                                                        <small>@(reqContact?.Email ?? "Email information missing")</small>

                                                    }

                                                    <!-- Silvio - Change to text only -->
                                                    <!-- ko foreach: requestLocationContacts -->
                                                    <!--<div class="form-row">
                        <div class="col-12">-->
                                                    <!-- Silvio - Change to text only -->
                                                    <!-- <select class="mb-2"
                                data-style="btn-white shadow-sm"
                                data-bind="selectPicker:true, enable: !$root.isReadOnly || $root.isSavingSRMissingFieldsOnSoftSchedule(), options: $root.locationContactsNotAssignedYet(contact_ID), optionsText: 'contact_Name', optionsValue: 'contact_ID', value: contact_ID, valueAllowUnset: true"
                                data-none-selected-text="...">
                        </select>-->
                                                    <!--</div>
                        </div>-->
                                                    <!-- /ko -->
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>



                                <div class="collapse-panel-control" id="deliveryConditionsPanelControl">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <h5 class="collapse-panel__heading m-0">DELIVERY CONDITIONS</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="collapse-panel show" id="deliveryConditions">
                                    <div class="my-4">
                                        <h5 class="collapse-panel__heading mb-2">DOCK OPTIONS</h5>

                                        <div class="form-row mb-3">
                                            <div class="col-3">
                                                <label>Loading Dock Available</label>
                                                <p class="text-default mt-2">@ValueToYesNo(jobLocation.loading_dock_type)</p>
                                                <!-- Silvio - Add Checkbox value from database -->
                                                <!--<div class="magic-checkbox-wrapper">
                        <input class="magic-checkbox" type="checkbox" id="loadingDockAvailableCheck" data-bind="disable: true, yesnoCheckboxValue: job_location_details().loading_dock_type" />
                        <label for="loadingDockAvailableCheck">Yes</label>
                    </div>-->
                                            </div>
                                            <div class="col-3">
                                                <label for="dockHeight">
                                                    Dock Height
                                                </label>
                                                <p class="text-default mt-2">@jobLocation.dock_height</p>
                                                <!-- Silvio - Change to text only -->
                                                <!--<div class="input-group">
                        <input type="text" class="form-control" id="dockHeight" data-bind="disable:true, value: job_location_details().dock_height" />
                    </div>-->
                                            </div>
                                            <div class="col-3">
                                                <label for="dockAvailTime1">
                                                    Dock Avail Time
                                                </label>
                                                <p class="text-default mt-2">@Model.Request_Data.dock_available_time</p>
                                                <!-- Silvio - Change to text only -->
                                                <!--<div class="input-group">
                        <input type="text" class="form-control" id="dockAvailTime1" data-bind="disable: isReadOnly, value: request_Data.dock_available_time" />
                    </div>-->
                                            </div>
                                            <div class="col-3">
                                                <label>Dock Reserve Required</label>
                                                <p class="text-default mt-2">@ValueToYesNo(jobLocation.dock_reserv_req_type)</p>
                                                <!-- Silvio - Add Checkbox value from database -->
                                                <!--<div class="magic-checkbox-wrapper">
                        <input class="magic-checkbox" type="checkbox" id="dockReserveRequiredCheck" data-bind="disable: true, yesnoCheckboxValue: job_location_details().dock_reserv_req_type" />
                        <label for="dockReserveRequiredCheck">Yes</label>
                    </div>-->
                                            </div>
                                        </div>

                                        <hr />
                                        <h5 class="collapse-panel__heading mb-3">ELEVATOR OPTIONS</h5>
                                        <div class="my-4">
                                            <div class="form-row mb-3">
                                                <div class="col-6">
                                                    <label>
                                                        Elevator Available
                                                    </label>
                                                    <p class="text-default mt-2">@(Model.ElevatorTypes.FirstOrDefault(e => e.id == jobLocation.elevator_avail_type_id)?.name)</p>
                                                    <!-- Silvio - Change to text only -->
                                                    <!--<select data-style="btn-white shadow-sm"
                                data-bind="selectPicker:true, options: elevatorTypes, optionsText: 'name', optionsValue: 'id', value: job_location_details().elevator_avail_type_id"
                                disabled="disabled"
                                data-none-selected-text="...">
                        </select>-->
                                                </div>
                                                <div class="col-6">
                                                    <label>Elevator Reserve Required</label>
                                                    <p class="text-default mt-2">@ValueToYesNo(jobLocation.elevator_reserv_req_type)</p>
                                                    <!-- Silvio - Add Checkbox value from database -->
                                                    <!-- <div class="magic-checkbox-wrapper">
                            <input class="magic-checkbox" type="checkbox" id="elevatorReserveRequiredCheck" data-bind="disable: isReadOnly, yesnoCheckboxValue: job_location_details().elevator_reserv_req_type" />
                            <label for="elevatorReserveRequiredCheck">Yes</label>
                        </div>-->
                                                </div>
                                            </div>
                                        </div>
                                        <hr />
                                        <h5 class="collapse-panel__heading mb-3">SECURITY OPTIONS</h5>

                                        <div class="form-row mb-3">
                                            <div class="col-6">
                                                <label>
                                                    Security Access
                                                </label>
                                                <p class="text-default mt-2">@(Model.SecurityAccessKinds.FirstOrDefault(a=>a.id == Model.Request_Data.security_type_id)?.name)</p>
                                                <!-- Silvio - Change to text only -->
                                                <!--<select data-style="btn-white shadow-sm"
                            data-bind="selectPicker:true, disable: isReadOnly, options: securityAccessKinds, optionsText: 'name', optionsValue: 'id', value: request_Data.security_type_id, valueAllowUnset: true"
                            data-none-selected-text="...">
                    </select>-->
                                            </div>

                                            <div class="col-6">
                                                <label>Badge Access Required</label>
                                                <p class="text-default mt-2">@ValueToYesNo(Model.Request_Data.badge_access_required)</p>
                                                <!-- Silvio - Add Checkbox value from database -->
                                                <!-- <div class="magic-checkbox-wrapper">
                        <input class="magic-checkbox" type="checkbox" id="badgeAccess" data-bind="disable: isReadOnly, yesnoCheckboxValue: request_Data.badge_access_required" />
                        <label for="badgeAccess">Yes</label>
                    </div>-->
                                            </div>
                                        </div>

                                        <hr />
                                        <div class="my-4">
                                            <div class="form-row mb-3">
                                                <div class="col-2">
                                                    <label>Floor Protection</label>
                                                    <p class="text-default mt-2">@ValueToYesNo(jobLocation.floor_prot_type)</p>
                                                    <!-- Silvio - Add Checkbox value from database -->
                                                    <!--<div class="magic-checkbox-wrapper">
                            <input class="magic-checkbox" type="checkbox" id="floorProtectionCheck"
                                   data-bind="disable: true, yesnoCheckboxValue: job_location_details().floor_prot_type"
                                   disabled="disabled" />
                            <label for="floorProtectionCheck">Yes</label>
                        </div>-->
                                                </div>
                                                <div class="col-2">
                                                    <label>Wall Protection</label>
                                                    <p class="text-default mt-2">@ValueToYesNo(jobLocation.wall_protection_type)</p>
                                                    <!-- Silvio - Add Checkbox value from database -->
                                                    <!--<div class="magic-checkbox-wrapper">
                            <input class="magic-checkbox" type="checkbox" id="wallProtectionCheck"
                                   data-bind="disable: true, yesnoCheckboxValue: job_location_details().wall_protection_type" />
                            <label for="wallProtectionCheck">Yes</label>
                        </div>-->
                                                </div>
                                                <div class="col-2">
                                                    <label>Doorway Protection</label>
                                                    <p class="text-default mt-2">@ValueToYesNo(jobLocation.doorway_prot_type)</p>
                                                    <!-- Silvio - Add Checkbox value from database -->
                                                    <!--<div class="magic-checkbox-wrapper">
                            <input class="magic-checkbox" type="checkbox" id="doorwayProtectionCheck"
                                   data-bind="disable: true, yesnoCheckboxValue: job_location_details().doorway_prot_type" />
                            <label for="doorwayProtectionCheck">Yes</label>
                        </div>-->
                                                </div>
                                                <div class="offset-4 col-2" data-bind="visible:isSR">
                                                    <label>Bring PPE</label>
                                                    <p class="text-default mt-2">@ValueToYesNo(Model.Request_Data.bring_ppe)</p>
                                                    <!-- Silvio - Add Checkbox value from database -->
                                                    <!--<div class="magic-checkbox-wrapper">
                            <input class="magic-checkbox" type="checkbox" id="bringPPECheck" data-bind="disable: isReadOnly, yesnoCheckboxValue: request_Data.bring_ppe" />
                            <label for="bringPPECheck">Yes</label>
                        </div>-->
                                                </div>
                                            </div>
                                        </div>
                                        <hr />
                                        <h5 class="collapse-panel__heading mb-3">STAIRWAYS OPTIONS</h5>
                                        <div class="form-row mb-3">
                                            <div class="col-6">
                                                <label>Stairway Carry Required</label>
                                                <p class="text-default mt-2">@ValueToYesNo(Model.Request_Data.stair_carry_req)</p>
                                                <!-- Silvio - Add Checkbox value from database -->
                                                <!--<div class="magic-checkbox-wrapper">
                        <input class="magic-checkbox" type="checkbox" id="stairwayCarryRequired" data-bind="disable: isReadOnly, yesnoCheckboxValue: request_Data.stair_carry_req" />
                        <label for="stairwayCarryRequired">Yes</label>
                    </div>-->
                                            </div>
                                            <div class="col-6">
                                                <label for="dockHeight">
                                                    Building Conditions Addl. Info
                                                </label>
                                                <p class="text-default mt-2">@Model.Request_Data.stair_carry_addl_info</p>
                                                <!-- Silvio - Change to text only -->
                                                <!--<div class="input-group">
                        <input type="text" class="form-control" id="stairwayCarryAdditionalInfo" data-bind="disable: isReadOnly, value: request_Data.stair_carry_addl_info" />
                    </div>-->
                                            </div>

                                        </div>

                                    </div>
                                </div>

                                <!------------------------>
                                <div class="collapse-panel-control" id="customFieldsPanelControl">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <h5 class="collapse-panel__heading m-0">CUSTOM FIELDS</h5>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="collapse-panel show" id="customFields">
                                    <div class="my-4">
                                        <div class="row mb-3">

                                            @{
                                                foreach (var CustomField in Model.CustomFields)
                                                {
                                                    if (CustomField.IsDropList?.ToUpper() == "Y")
                                                    {
                                                        <div class="col-4">
                                                            <label>
                                                                @CustomField.CustomFieldName
                                                            </label>
                                                            <p class="text-default mt-2">@CustomField.DropListOptions.FirstOrDefault(o => o.ID == CustomField.CustomFieldValue)?.Name</p>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="col-4">
                                                            <label>
                                                                @CustomField.CustomFieldName
                                                            </label>
                                                            <p class="text-default mt-2">@CustomField.CustomFieldValue</p>
                                                        </div>
                                                    }
                                                }
                                            }

                                            @if ((Model.CustomFields?.Count() ?? 0) == 0)
                                            {
                                                <div class="col-12" style="align-self: flex-end;">
                                                    <label><strong><span style="font-size:1.2em;">No Custom Fields for this Request</span></strong></label>
                                                </div>
                                            }
                                        </div>
                                    </div>

                                </div>



                                <!-- Removed Billing Information Section -->
                                <!-- Removed Attachments Section -->
                                <!-- Removed Quote Estimator Section -->
                                <!-- Removed Comments Section -->

                                <!--<div class="row">
                                    <div class="col-12">
                                        <div class="text-muted">
                                            <strong>Created By:</strong>-->
                                            <!-- ko if:request_Data.createdByName -->
                                            <!--<span data-bind="text:request_Data.createdByName"></span>-->
                                            <!-- /ko -->
                                            <!-- ko ifnot:request_Data.createdByName -->
                                            <!--<span>You</span>-->
                                            <!-- /ko -->
                                            <!-- ko if:request_Data.createTime -->
                                            <!--<span data-bind="text: '(' + moment(request_Data.createTime).format('lll') + ')'"></span>-->
                                            <!-- /ko -->
                                        <!--</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="text-muted">-->
                                            <!-- ko if:request_Data.modifiedByName() -->
                                            <!--<strong>Modified By:</strong>
                                            <span data-bind="text:request_Data.modifiedByName"></span>-->
                                            <!-- ko if:request_Data.modifyTime() -->
                                            <!--<span data-bind="text: '(' + moment(request_Data.modifyTime()).format('lll') + ')'"></span>-->
                                            <!-- /ko -->
                                            <!-- /ko -->
                                        <!--</div>
                                    </div>
                                </div>-->

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

</body>
</html>

