@model ServiceTRAX.Models.ViewModels.SvcAcctJobsAssignedResourcesViewModel
@using ServiceTRAX.Identity
@{
    ViewData["Title"] = "Service Account Assigned Resources";
}

@section StyleSheets {

    <style>
        .gridContent {
            position: absolute;
            border: solid 1px #c0c0c0;
            left: 20px;
            top: 130px;
            right: 20px;
            bottom: 70px;
        }
    </style>
}

@section Scripts {

    <link rel="stylesheet" href="~/css/mygrid.1.0.css">
    <script language="javascript" type="text/javascript" src="~/lib/mygrid.1.0.js"></script>


    <script type="text/javascript">

        $(function () {
            var model =  @Html.Raw(Json.Serialize(Model));

             let gridEvents = {
                 buttonClick: function (btn, row) {
                     if (btn.id === 'cmdSvcAcctDetailsOpenSR') {
                        redirectToPage('/Request', { 'RequestID': row.REQUEST_ID, 'OrganizationID': @Model.OrganizationID});
                    }
                }
            };

            let gridParameters = () => ({ 'ORGANIZATION_ID': @Model.OrganizationID, 'USER_ID': @User.GetUserID() });
            let oGrid = new clsMyGrid('ServiceAccountJobsAssignedResources', document.getElementById('SvcAcctResTEG'), null, gridEvents, true, gridParameters());

        });

          const openRequest = function (request_id) {
            redirectToPage('/Request', { 'RequestID': request_id, 'OrganizationID': @Model.OrganizationID});
        }

    </script>

}

<div id="content-wrap">
    <div class="gridContent" id="SvcAcctResTEG"></div>
</div>

