@model ServiceTRAX.Models.ViewModels.ServiceTRAXProjectDocumentsViewModel
@using ServiceTRAX.Identity

@{
    ViewData["Title"] = "Project Documents";
}

@section Scripts {

    <link rel="stylesheet" href="~/css/mygrid.1.0.css">
    <script language="javascript" type="text/javascript" src="~/lib/mygrid.1.0.js?1"></script>
    <script type='text/javascript' src='~/override/main-custom.js'></script>

    <script type="text/javascript">

        $(function () {

            let gridEvents = {
                buttonClick: function (btn, row) {
                    if (btn.id === 'cmdOpenDocumentScreen') {
                        switch (row.DOCUMENTTYPE.toLowerCase()) {
                            case 'service request': redirectToPage('/Request', { 'OrganizationID': @Model.OrganizationID, 'RequestID': row.REQUEST_ID }, true); break;
                            case 'quote request': redirectToPage('/Request', { 'OrganizationID': @Model.OrganizationID, 'RequestID': row.REQUEST_ID }, true); break;
                            case 'quote': redirectToPage('/Quote', { 'OrganizationID': @Model.OrganizationID, 'QuoteID': row.RECORD_ID }, true); break;
                            case 'hotsheet': redirectToPage('/Request/HotSheet', { 'OrganizationID': @Model.OrganizationID, 'HotSheetID': row.RECORD_ID, 'RequestID': row.REQUEST_ID }, true); break;
                            case 'requestdailystatus': redirectToPage('/TimeEntry/DailyStatusReport', { 'OrganizationID': @Model.OrganizationID, 'RequestDailyStatusId': row.RECORD_ID }, true); break;
                            case 'po': redirectToPage('/Quote', { 'OrganizationID': @Model.OrganizationID, 'QuoteID': row.RECORD_ID }, true); break;
                            case 'attachment-qr':
                            case 'attachment-sr':
                            case 'attachment-other':
                                redirectToPage(`/ProjectFiles/${row.PROJECT_NO}/${row.REQUEST_ID}/${row.REQUEST_NO}/${row.VERSION_NO}/${row.DESCRIPTION}`, { }, true);
                                break;
                        }
                    }
                }
            };

            let oGrid = new clsMyGrid(
                'ProjectDocuments', 
                $('#subDocsTEG'), 
                null, 
                gridEvents, 
                true, 
                { 
                    'PROJECT_NO': @Model.Project_No, 
                    'USER_ID': @User.GetUserID(), 
                    'QUOTEREQUESTS': @(Model.QuoteRequests ? "true" : "false"), 
                    'QUOTES': @(Model.Quotes ? "true" : "false"), 
                    'SERVICEREQUESTS': @(Model.ServiceRequests ? "true" : "false"), 
                    'HOTSHEETS': @(Model.HotSheets ? "true" : "false"), 
                    'REPORTDAILYSTATUS': @(Model.ReportDailyStatus ? "true" : "false"), 
                    'RDSEMAILED': @(Model.RDSEmailed ? "true" : "false"), 
                    'PURCHASEORDERS': @(Model.PurchaseOrders ? "true" : "false"), 
                    'FILEATTACHMENTS': @(Model.FileAttachments ? "true" : "false") 
                }
            );
        });

    </script>
}

@section StyleSheets {

    <style>
        .gridContent {
            position: absolute;
            border: solid 1px #c0c0c0;
            left: 20px;
            top: 170px;
            right: 20px;
            bottom: 70px;
        }
    </style>
}
<div class="row mt-2">
    <div class="col-12">
        <h2>PROJECT DOCUMENTS</h2>
    </div>
</div>
<div id="content-wrap" style="width: 100%;">
    <div class="gridContent" id="subDocsTEG"></div>
</div>

