@using ServiceTRAX.Utils
@using ServiceTRAX.Identity
@using ServiceTRAX.Identity.Authorization
@model ServiceTRAX.Models.ViewModels.TimeEntryJob

@{
    ViewData["Title"] = "Crew Time Entry";
}

@section StyleSheets {
    <link rel="stylesheet" href="~/css/datepicker.css" />
}


@section Scripts {
    <script type='text/javascript' src='~/lib/knockout/knockout-latest.js'></script>
    <script type='text/javascript' src='~/lib/moment/moment.min.js'></script>
    <script type='text/javascript' src='~/lib/datepicker.js'></script>
    <script type='text/javascript' src='~/js/ko-bindingHandlers.js'></script>
    <script type='text/javascript' src='~/lib/knockout.validation/knockout.validation.min.js'></script>
    <script type='text/javascript' src='~/override/main-custom.js'></script>
    <script type='text/javascript' src='~/js/TimeEntry/timeentry-picker-modal.js'></script>
    <script type='text/javascript' src='~/js/TimeEntry/job-timeentry.js'></script>
    <script type='text/javascript' src='~/js/TimeEntry/multi-resource-action.js'></script>
    <script type='text/javascript' src='~/js/TimeEntry/add-exception-dialog.js'></script>
    <script type='text/javascript' src='~/js/TimeEntry/add-team-member.js'></script>
    <script type='text/javascript' src='~/js/notification-dialog.js'></script>
    <script type='text/javascript' src='~/lib/compressorjs/compressor.min.js'></script>


    <script type="text/javascript">

        $(function () {
            // Get the MVC model as JS
            initJobTimeEntry(@Html.Raw(JSONUtils.JsonUTC(Model)));
        });

    </script>

}

<style type="text/css">

    .mimicanchor:hover {
        cursor: pointer;
        text-decoration: underline;
    }

    .open-sr-link-icon {
        opacity: 0;
    }

    .open-sr-link:hover .open-sr-link-icon {
        opacity: 1;
    }

    .approvedTimeEntryClass {
        background: rgba(96, 188, 98, 0.07) !important;
    }
</style>

<div id="content">
    <div class="container p-0">
        <div class="row mb-xs-1 mb-xl-4 align-items-top">
            <div class="col-md-6 pl-0">
                <div class="d-inline">
                    <h2 class="mx-3 d-inline align-middle">CREW TIME ENTRY</h2>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="row">
                    <div class="form-group col-xl-9 col-6 m-0">
                        @if (User.UserHasThisPermission(Permissions.TimeEntryJobResourceDropdown))
                        {
                            <label style="justify-content: left">
                                Filter by Resource
                            </label>
                            <select class="w-100 mw-100"
                                    data-style="btn-white shadow-sm my-0"
                                    data-bind="selectPicker:true, options: dayUsers, optionsText: 'resourceName', optionsValue: 'userID', value: forUserID,  valueAllowUnset: true"
                                    data-none-selected-text="...">
                            </select>
                        }
                    </div>
                    <span class="d-md-none" id="screen-width-check"></span>
                    <div class="form-group col-xl-3 col-6 mb-0">
                        <div>
                            <label style="justify-content: left">
                                Date
                            </label>
                            <div class="input-group mw-100" id="triggerCalendarEndDate">
                                <input type="text"
                                       autocomplete="off"
                                       class="form-control m-0"
                                       id="jobTimeEntryDate"
                                       data-bind="datepicker: date, datepickerOptions: {  trigger: '#triggerCalendarEndDate', setEndDateTo: todayDate }, enable:screenLGorWider"
                                       required />
                                <div class="input-group-append simulate-button">
                                    <span class="input-group-text input-group-append-custom">
                                        <i class="fas fa-calendar"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div data-bind="hidden: dayDataLoadCompleted()" style="display:none">
            <div class="d-flex flex-row align-self-center justify-content-center">
                <div class="d-flex align-items-center">
                    <div class="m-3">
                        <div class="spinner-grow" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <h5 data-bind="text: 'Loading Time Entries Data for ' + moment(date()).format('MM-DD-YYYY')"></h5>
                </div>
            </div>
        </div>
        <div data-bind="visible: dayDataLoadCompleted() && timeEntries().length === 0" style="display:none">
            <div class="d-flex justify-content-center">
                <h5 data-bind="text: 'There are no jobs assigned for ' + moment(date()).format('MM-DD-YYYY')"></h5>
            </div>
        </div>

        <div data-bind="visible: dayDataLoadCompleted() && timeEntries().length > 0" style="display:none">
            <!-- ko foreach:timeEntries-->
            <div class="row">
                <div class="col-12 mb-2">
                    <div class="row">
                        <h3 class="col-12 mb-3">
                            <div class="row">
                                <div class="col-xs-12 col-lg-auto">
                                    <span id="jobNum" class="mr-2" data-bind="text:project_request_no"></span>
                                    <span id="reqName" class="mr-2" data-bind="text:request_Name"></span>
                                    <span id="jobName" data-bind="text:job_name, attr: {title: 'Customer: ' + customer_name }"></span>
                                </div>
                                <div class="col-xs-12 col-lg-auto">
                                    <small>
                                        <i class="fas fa-clock" title="Warehouse & Field Job Times"></i>
                                        <strong>Start:</strong>
                                        <!-- ko if:whsestarttime-->
                                        <span data-bind="text:moment(whsestarttime).format('LT')"></span>
                                        <!-- /ko -->
                                        <!-- ko ifnot:whsestarttime-->
                                        <span>N/A</span>
                                        <!-- /ko -->
                                    </small>
                                    <small>
                                        <strong>On-Site:</strong>
                                        <!-- ko if:fieldstarttime-->
                                        <span data-bind="text:moment(fieldstarttime).format('LT')"></span>
                                        <!-- /ko -->
                                        <!-- ko ifnot:fieldstarttime-->
                                        <span>N/A</span>
                                        <!-- /ko -->
                                    </small>
                                </div>
                            </div>
                            @*<button type="button" requires-permission="@Permissions.TimeEntryJobCrewAddRemoveUpdate" class="btn btn-link blue-icon open-sr-link ml-3 p-0" data-bind="click:() => $root.openSR(requestid)" title="Open Service Request">
                                    <small>OPEN SR <i class="fas fa-external-link-alt open-sr-link-icon"></i></small>
                                </button>
                                <button type="button" requires-permission="@Permissions.ProjectDocumentsAccess" class="btn btn-link blue-icon open-sr-link ml-1 p-0" data-bind="click:() => $root.openSRDocs(projectno)" title="Open Project Documents">
                                    <small>OPEN DOCS <i class="fas fa-external-link-alt open-sr-link-icon"></i></small>
                                </button>*@

                        </h3>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-xl-auto" data-bind="hidden:$root.isReadOnlyScreen(false)">
                            <button data-bind="hidden:$root.isReadOnlyScreen(false), click: function() { $root.showAutoStartDialog(serviceid, requestscheduleid); }" class="btn btn-green mt-0 mb-1"><em class="fas fa-clock mr-2"></em> Auto-Start</button>
                            <button data-bind="hidden:$root.isReadOnlyScreen(false), click: function() { $root.showAutoEndDialog(serviceid, requestscheduleid); }" class="btn btn-orange mt-0 mb-1"><em class="fas fa-clock mr-2"></em> Auto-End</button>
                            <button data-bind="hidden:$root.isReadOnlyScreen(false), click: function() { $root.showAddLunchDialog(serviceid, requestscheduleid); }" class="btn btn-turquoise mt-0 mb-1"><em class="fas fa-utensils mr-2"></em> Add Lunch</button>
                        </div>
                        <div class="col-xs-12 col-xl-auto">
                            <button data-bind="click: function() { $root.displayJobNotes(requestid); }" class="btn btn-turquoise mt-0 mb-1"><em class="fas fa-clipboard mr-2"></em> Job Notes</button>
                            <!-- ko if:$root.isEnabledAddRDS(isLead)-->
                            <button data-bind="click:function() { $root.dailyStatusReportDialog.showDialog(serviceid, projectno, requestno, versionno, job_name) }" class="btn btn-primary mt-0 mb-1"><em class="fas fa-clipboard-check mr-2"></em> Daily Status Report</button>
                            <!-- /ko -->
                            <!-- ko ifnot:$root.isEnabledAddRDS(isLead)-->
                                @if (User.UserHasThisPermission(Permissions.DailyStatusRead))
                                {
                                    <button data-bind="click:function() { $root.openDailyStatusReport(serviceid); }" class="btn btn-primary mt-0 mb-1"><em class="fas fa-clipboard-check mr-2"></em> View Daily Status Report</button>
                                }
                            <!-- /ko -->
                        </div>
                        <div class="col-xs-12 col-xl-auto">
                            <button type="button" requires-permission="@Permissions.TimeEntryJobCrewAddRemoveUpdate" class="btn btn-orange mt-0 mb-1" data-bind="click:() => $root.openSR(requestid)" title="Open Service Request">
                                <i class="fas fa-external-link-alt mr-2"></i> OPEN SR
                            </button>
                            <button type="button" requires-permission="@Permissions.ProjectDocumentsAccess" class="btn btn-orange mt-0 mb-1" data-bind="click:() => $root.openSRDocs(projectno)" title="Open Project Documents">
                                <i class="fas fa-external-link-alt mr-2"></i> OPEN DOCS
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col" style="overflow-x:auto">
                    <table class="table grid table--dark-blue table-striped text-center vcenter">
                        <thead>
                            <tr>
                                <th scope="col" style="width: 7%">Exception</th>
                                <th scope="col" class="text-left">Name</th>
                                <th scope="col"></th>
                                <th scope="col">In</th>
                                <th scope="col">Lunch</th>
                                <th scope="col">Out</th>
                                <th scope="col">Total</th>
                            </tr>
                        </thead>

                        <tbody data-bind="foreach: timeEntries">
                            <!-- ko with: timeEntry -->
                            <tr data-bind="css: {approvedTimeEntryClass: isApproved}, attr: {title: isApproved ? 'Time Entry is Approved' : ''}">
                                <td>
                                    <!-- ko ifnot: $root.isReadOnlyScreen(isApproved, checkInOutButtonsEnabled) -->
                                    <!-- ko ifnot:noShowLookupID-->
                                    <button class="btn-circle btn-default-plus" data-bind="click:function() { $root.showExceptionDialog(serviceLineTimeEntryID, serviceid, resource_id, {noShowLookupID, noShowLookupDesc, noShowNotes}); }"><em class="fas fa-plus"></em></button>
                                    <!-- /ko -->
                                    <!-- ko if:noShowLookupID-->
                                    <button class="btn-circle btn-default-plus btn-orange" data-bind="attr: {title: noShowLookupDesc + ' -- ' + noShowNotes}, click:function() { $root.showExceptionDialog(serviceLineTimeEntryID, serviceid, resource_id, {noShowLookupID, noShowLookupDesc, noShowNotes}); }"><em class="fas fa-exclamation"></em></button>
                                    <!-- /ko -->
                                    <!-- /ko -->
                                    <!-- ko if: $root.isReadOnlyScreen(isApproved, checkInOutButtonsEnabled) -->
                                    <!-- ko ifnot:noShowLookupID-->
                                    <div><small>No Exception</small></div>
                                    <!-- /ko -->
                                    <!-- ko if:noShowLookupID-->
                                    <button class="btn-circle btn-default-plus btn-orange" data-bind="attr: {title: noShowLookupDesc + ' -- ' + noShowNotes}"><em class="fas fa-exclamation"></em></button>
                                    <!-- /ko -->
                                    <!-- /ko -->
                                </td>
                                <td class="text-left">
                                    <!-- ko if:roleIconName -->
                                    <em class="btn icon-only gray-icon fas pl-0" data-bind="css: roleIconName"></em>
                                    <!-- /ko -->
                                    <!-- ko ifnot:roleIconName -->
                                    <div class="badge" data-bind="text:roleAltIconCode"></div>
                                    <!-- /ko -->
                                    <span data-bind="text:resourceName"></span>
                                    <!-- ko if:typeOfAdditionName -->
                                    <sub><span data-bind="text:'(' + typeOfAdditionName + ')'"></span></sub>
                                    <!-- /ko -->
                                </td>
                                <td>
                                </td>
                                <td>
                                    <!-- ko ifnot: $root.isReadOnlyScreen(isApproved, checkInOutButtonsEnabled) -->
                                    <!-- ko if: timeEntryStartTime  -->
                                    <span class="mimicanchor" data-bind="text:moment(timeEntryStartTime).format('LT'), click: function() { $root.updateJobTimeEntry(serviceLineTimeEntryID, 'START', new Date(timeEntryStartTime), notes) }"></span>
                                    <!-- /ko -->
                                    <!-- ko ifnot: timeEntryStartTime  -->
                                    <button class="btn btn-sm btn-primary" data-bind="click: function() { $root.updateJobTimeEntry(serviceLineTimeEntryID, 'START', null, notes) }">Start</button>
                                    <!-- /ko -->
                                    <!-- /ko -->
                                    <!-- ko if: $root.isReadOnlyScreen(isApproved, checkInOutButtonsEnabled) -->
                                    <!-- ko if: timeEntryStartTime  -->
                                    <div data-bind="text:moment(timeEntryStartTime).format('LT')"></div>
                                    <!-- /ko -->
                                    <!-- ko ifnot: timeEntryStartTime  -->
                                    <div>Not Started</div>
                                    <!-- /ko -->
                                    <!-- /ko -->
                                </td>
                                <td>
                                    <!-- ko ifnot:isApproved -->
                                    <!-- ko ifnot:$root.isReadOnlyScreen(isApproved, addLunchButtonEnabled)-->
                                    <button class="btn-circle btn-default-plus" title="Add Lunch Time..."
                                            data-bind="disable: timeEntryEndTime, click: function() { $root.saveLunchSingle(serviceid, $parents[1].requestscheduleid, resource_id); }">
                                        <em class="fas fa-plus"></em>
                                    </button>
                                    <!-- /ko -->
                                    <!-- ko if:$root.isReadOnlyScreen(isApproved, addLunchButtonEnabled)-->
                                    <span title="Not Available: please ask your Lead to enter Lunch time for you.">N/A</span>
                                    <!-- /ko -->
                                    <!-- /ko -->
                                </td>
                                <td>
                                    <!-- ko ifnot: $root.isReadOnlyScreen(isApproved, checkInOutButtonsEnabled) -->
                                    <!-- ko ifnot: timeEntryStartTime -->
                                    <span>-</span>
                                    <!-- /ko -->
                                    <!-- ko if: timeEntryStartTime && !timeEntryEndTime -->
                                    <button class="btn btn-sm btn-primary" data-bind="click: function() { $root.updateJobTimeEntry(serviceLineTimeEntryID, 'END', null, notes) }">End</button>
                                    <!-- /ko -->
                                    <!-- ko if: timeEntryStartTime && timeEntryEndTime -->
                                    <span class="mimicanchor" data-bind="text:moment(new Date(timeEntryEndTime)).format('LT'), click: function() { $root.updateJobTimeEntry(serviceLineTimeEntryID, 'END', new Date(timeEntryEndTime), notes) }"></span>
                                    <!-- /ko -->
                                    <!-- /ko -->
                                    <!-- ko if: $root.isReadOnlyScreen(isApproved, checkInOutButtonsEnabled) -->
                                    <!-- ko ifnot: timeEntryStartTime -->
                                    <span>-</span>
                                    <!-- /ko -->
                                    <!-- ko if: timeEntryStartTime && !timeEntryEndTime -->
                                    <div>Not Ended</div>
                                    <!-- /ko -->
                                    <!-- ko if: timeEntryStartTime && timeEntryEndTime -->
                                    <div data-bind="text:moment(new Date(timeEntryEndTime)).format('LT')"></div>
                                    <!-- /ko -->
                                    <!-- /ko -->
                                </td>
                                <td data-bind="text:totalHoursWorked.toFixed(2)"></td>
                            </tr>
                            <!-- /ko -->
                            <!-- ko if:lunchs.length > 0 -->
                            <!-- ko foreach:lunchs -->
                            <tr data-bind="css: {approvedTimeEntryClass: isApproved}, attr: {title: isApproved ? 'Time Entry is Approved' : ''}">
                                <td colspan="3">
                                    <div class="text-right"><em class="fas fa-utensils mr-2"></em>Lunch</div>
                                </td>
                                <td>
                                    <!-- ko ifnot: $root.isReadOnlyScreen(isApproved, addLunchButtonEnabled) -->
                                    <span class="mimicanchor" data-bind="text:moment(new Date(timeEntryStartTime)).format('LT'), click: function() { $root.updateJobTimeEntry(serviceLineTimeEntryID, 'START', new Date(timeEntryStartTime), notes) }"></span>
                                    <!-- /ko -->
                                    <!-- ko if: $root.isReadOnlyScreen(isApproved, addLunchButtonEnabled) -->
                                    <div data-bind="text:moment(new Date(timeEntryStartTime)).format('LT')"></div>
                                    <!-- /ko -->
                                </td>
                                <td colspan="1">
                                    <!-- ko ifnot:$root.isReadOnlyScreen(isApproved, addLunchButtonEnabled)-->
                                    <button class="btn-circle btn-default-plus" title="Remove this Lunch Time..."
                                            data-bind="click:() => $root.removeLunch(serviceLineTimeEntryID)">
                                        <em class="fas fa-minus"></em>
                                    </button>
                                    <!-- /ko -->
                                </td>
                                <td>
                                    <!-- ko ifnot: $root.isReadOnlyScreen(isApproved, addLunchButtonEnabled) -->
                                    <span class="mimicanchor" data-bind="text:moment(new Date(timeEntryEndTime)).format('LT'), click: function() { $root.updateJobTimeEntry(serviceLineTimeEntryID, 'END', new Date(timeEntryEndTime), notes) }"></span>
                                    <!-- /ko -->
                                    <!-- ko if: $root.isReadOnlyScreen(isApproved, addLunchButtonEnabled) -->
                                    <span data-bind="text:moment(new Date(timeEntryEndTime)).format('LT')"></span>
                                    <!-- /ko -->
                                </td>
                                <td colspan="100"></td>
                            </tr>
                            <!-- /ko -->
                            <!-- /ko -->
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col">
                    @if (User.UserHasThisPermission(Permissions.TimeEntryJobCrewAddRemoveUpdate))
                    {
                        <!-- ko ifnot: $root.isReadOnlyScreen(false, !$root.userControls().isReadOnly && $root.userControls().checkInOutButtonsEnabled ) -->
                        <button class="btn btn-primary" data-bind="click: function() { $root.showAddTeamMemberModal(serviceid, requestscheduleid); }">
                            <em class="fas fa-user-plus"></em> Add Team Member
                        </button>
                        <!-- /ko -->
                    }
                </div>
            </div>
            <!-- /ko -->
        </div>
    </div>

</div>
@*<div id="footer">
        <button class="btn btn-primary" data-toggle="modal" data-target="#NewLeadModal"><em class="fas fa-user-plus"></em> Assign New Lead Modal</button>
    </div>*@



<!----------- No Lunch modal ------------->

<div class="modal modal--forms" id="MissingLunchModal" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="NotesModal" aria-hidden="true"
     data-bind="showModal:missingLunchModal.isDialogDisplaying">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document" data-bind="using:missingLunchModal">
        <div class="modal-content modal-content--dark-blue">
            <div class="modal-header">
                <h5 class="modal-title mr-auto">Warning</h5>
            </div>
            <div class="modal-body pt-0 pb-0">
                <form>
                    <div class="form-group">
                        <label class="col-form-label" data-bind="text:message"></label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col">
                        <button type="button" class="btn btn-primary btn-block" data-bind="click: function() { goAhead(); }">Go ahead End Time</button>
                        <button type="button" class="btn btn-primary btn-block" data-bind="click: function() { goBack(); }">Go back To Add Lunch</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal - Assign New Lead Confirm -->
<div class="modal" id="NewLeadModal" data-backdrop-limit="1" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="NewLeadModal" aria-hidden="true"
     data-bind="showModal:newLeadModal.isDialogDisplaying">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document" data-bind="with:newLeadModal">
        <div class="modal-content modal-content--dark-blue">
            <div class="modal-body">
                <p class="text-center">
                    <em class="fa fa-exclamation-triangle fa-4x text-orange"></em>
                </p>
                <h2 class="text-center text-uppercase"> Are You Sure?</h2>
                <p class="text-center">You are signing out while workers are on the job site. You must assign a new lead.</p>
                <div class="text-center">
                    <select class="w-100"
                            data-style="btn-white shadow-sm"
                            data-bind="selectPicker:true, options: newLeadAvailableResources, optionsText: 'resourceName', optionsValue: 'resourceID', value: newLead, valueAllowUnset: true"
                            data-none-selected-text="...">
                    </select>
                </div>
            </div>
            <div class="modal-footer no-border">
                <div class="row small-gutters">
                    <div class="col-6">
                        <button type="button" class="btn btn-orange btn-block cmdAssignNewLead" data-bind="enable:newLead() !== null, click: function() { goAhead(); }">Assign New</button>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-primary btn-block cmdCancelNewLead" data-bind="click:function() {close();} ">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!----------- Notes modal ------------->

<div class="modal fade modal--forms" id="NotesModal" tabindex="-1" role="dialog" aria-labelledby="NotesModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content modal-content--dark-blue">
            <div class="modal-header">
                <h5 class="modal-title mr-auto">Add Notes</h5>
            </div>
            <div class="modal-body pt-0 pb-0">
                <form>
                    <div class="form-group">
                        <label for="Notes" class="col-form-label">Notes</label>
                        <textarea type="text" class="form-control" id="Notes" placeholder="Add Comment..." rows="3" aria-describedby="VisibleClient"></textarea>
                    </div>
                </form>
            </div><!--/modal-body-->
            <div class="modal-footer">
                <div class="row">
                    <div class="col">
                        <button type="button" class="btn btn-primary btn-block" data-dismiss="modal">
                            Save
                        </button>
                    </div>
                </div><!--/row-->
            </div><!--/modal-footer-->
        </div><!--/modal-content-->
    </div><!--/modal-dialog-->
</div><!--/modal-->
<!----------- Add TE Exception Notes modal ------------->

<div class="modal fade modal--forms" id="TEExceptionModal" tabindex="-1" role="dialog" aria-labelledby="TEExceptionModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content modal-content--dark-blue">
            <div class="modal-header">
                <h5 class="modal-title mr-auto">Add Time Entry Exception</h5>
            </div>
            <div class="modal-body pt-0 pb-0">
                <form>
                    <div class="form-group">
                        <label for="TEExceptionNotes" class="col-form-label">Notes</label>
                        <textarea type="text" class="form-control" id="TEExceptionNotes" placeholder="Add Comment..." rows="3" aria-describedby="VisibleClient"></textarea>
                    </div>
                </form>
            </div><!--/modal-body-->
            <div class="modal-footer">
                <div class="row">
                    <div class="col">
                        <button type="button" class="btn btn-primary btn-block" data-dismiss="modal">
                            Save
                        </button>
                    </div>
                </div><!--/row-->
            </div><!--/modal-footer-->
        </div><!--/modal-content-->
    </div><!--/modal-dialog-->
</div><!--/modal-->
<!----------- Add Break modal ------------->

<div class="modal fade modal--forms" id="AddBreakModal" tabindex="-1" role="dialog" aria-labelledby="AddBreakModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-fit" role="document">
        <div class="modal-content modal-content--dark-blue">
            <div class="modal-header">
                <h5 class="modal-title mr-auto">Break Time</h5>
            </div>
            <div class="modal-body pt-0 pb-0">

                <button class="btn btn-primary selected"><em class="fas fa-clock"></em><span class="d-block text-center">15 mins</span></button>
                <button class="btn btn-primary"><em class="fas fa-clock"></em><span class="d-block text-center">30 mins</span></button>
                <button class="btn btn-primary"><em class="fas fa-clock"></em><span class="d-block text-center">45 mins</span></button>
                <button class="btn btn-primary"><em class="fas fa-clock"></em><span class="d-block text-center">60 mins</span></button>
            </div><!--/modal-body-->
            <div class="modal-footer">

                <div class="row">
                    <div class="col-lg-6">
                        <button type="button" class="btn btn-primary btn-block" data-dismiss="modal">
                            SAVE
                        </button>
                    </div>
                    <div class="col-lg-6">
                        <button type="button" class="btn btn-warning btn-block" data-dismiss="modal">CANCEL</button>
                    </div>
                </div><!--/row-->
            </div><!--/modal-footer-->
        </div><!--/modal-content-->
    </div><!--/modal-dialog-->
</div><!--/modal-->
<!----------- New Activity modal ------------->
<div class="modal fade modal--forms" id="AddActivityModal" tabindex="-1" role="dialog" aria-labelledby="AddActivityModal" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content modal-content--dark-blue">
            <div class="modal-header">
                <h5 class="modal-title mr-auto ucase" id="newActivityLabel">Add New Activity</h5>
            </div>
            <div class="modal-body">

                <form>
                    <div class="form-row mb-3">
                        <div class="col">
                            <label>Activity Name</label>
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="form-row mb-3">
                        <div class="col">
                            <label>Role</label>
                            <select class="selectpicker" id="AssignNewLead" data-style="btn-white shadow-sm" data-none-selected-text="...">
                                <option selected="" value="">Select Role</option>
                                <option>Driver</option>
                                <option>Mover</option>
                                <option>Installer</option>
                                <option>Lead</option>
                            </select>
                        </div>
                    </div>
                </form>

            </div><!--/modal-body-->
            <div class="modal-footer">

                <div class="row">
                    <div class="col">
                        <button type="button" class="btn btn-primary btn-block" data-dismiss="modal">
                            SAVE
                        </button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-warning btn-block" data-dismiss="modal">CANCEL</button>
                    </div>
                </div><!--/row-->
            </div><!--/modal-footer-->
        </div><!--/modal-content-->
    </div><!--/modal-dialog-->
</div><!--/modal-->
<!-- Modal - Reject Timesheet Confirm -->
<div class="modal fade" id="RejectTimesheetModal" data-backdrop-limit="1" tabindex="-1" role="dialog" aria-labelledby="RejectTimesheetModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content modal-content--dark-blue">
            <div class="modal-body">
                <p class="text-center">
                    <em class="fa fa-exclamation-triangle fa-4x text-danger"></em>
                </p>
                <h2 class="text-center text-uppercase"> Caution</h2>
                <p class="text-center">You are about to REJECT the daily time sheet. Do you wish to proceed?</p>
            </div>
            <div class="modal-footer no-border">
                <div class="row">
                    <div class="col-xs-6 col-sm-6">
                        <button type="button" class="btn btn-danger btn-block cmdRejectTimeEntries">Reject</button>
                    </div>
                    <div class="col-xs-6 col-sm-6">
                        <button type="button" class="btn btn-primary btn-block cmdCancelTimeEntries" data-dismiss="modal" aria-label="Close">Cancel</button>
                    </div>
                </div><!--/row-->
            </div><!--/modal-footer-->
        </div><!--/modal-content-->
    </div><!--/modal-dialog-->
</div><!--/modal-->
<!-- Modal - Approve Timesheet Confirm -->
<div class="modal fade" id="ApproveIndividualModal" data-backdrop-limit="1" tabindex="-1" role="dialog" aria-labelledby="ApproveIndividualModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content modal-content--dark-blue">
            <div class="modal-body">
                <p class="text-center">
                    <em class="fa fa-check fa-4x green-icon"></em>
                </p>
                <h2 class="text-center text-uppercase"> Notice</h2>
                <p class="text-center">You are approving your daily time sheet. Do you wish to proceed?</p>
            </div>
            <div class="modal-footer no-border">
                <div class="row">
                    <div class="col-6">
                        <button type="button" class="btn btn-green btn-block cmdApproveTimeEntries" data-dismiss="modal">Approve</button>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-red btn-block cmdCancelTimeEntries" data-dismiss="modal" aria-label="Close">Reject</button>
                    </div>
                </div><!--/row-->
            </div><!--/modal-footer-->
        </div><!--/modal-content-->
    </div><!--/modal-dialog-->
</div><!--/modal-->
<!-- Modal - Approve Timesheet Confirm -->
<div class="modal fade" id="ApproveTimesheetModal" data-backdrop-limit="1" tabindex="-1" role="dialog" aria-labelledby="ApproveTimesheetModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content modal-content--dark-blue">
            <div class="modal-body">
                <p class="text-center">
                    <em class="fa fa-check fa-4x green-icon"></em>
                </p>
                <h2 class="text-center text-uppercase"> Notice</h2>
                <p class="text-center">You are approving the daily time sheet. Do you wish to proceed?</p>
            </div><!--/modal-body-->
            <div class="modal-footer no-border">
                <div class="row">
                    <div class="col-6">
                        <button type="button" class="btn btn-green btn-block cmdApproveTimeEntries">Approve</button>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-primary btn-block cmdCancelTimeEntries" data-dismiss="modal" aria-label="Close">Cancel</button>
                    </div>
                </div><!--/row-->
            </div><!--/modal-footer-->
        </div><!--/modal-content-->
    </div><!--/modal-dialog-->
</div><!--/modal-->


@await Html.PartialAsync("_TimeEntryPickerModal")
@await Html.PartialAsync("_MultiResourceAction")
@await Html.PartialAsync("_AddTeamMember")
@await Html.PartialAsync("_AddExceptionDialog")
@await Html.PartialAsync("_NotificationDialog")
@await Html.PartialAsync("_DailyStatusReportDialog")