@model ServiceTRAX.Models.ViewModels.AnonymousSignatureViewModel
@{
    ViewData["Title"] = "Document Signature";
    Layout = null;
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Document Signature | ServiceTRAX - Powered by Omni Workspace Company</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="~/css/all.min.css" />
    <link rel="stylesheet" href="~/override/main-custom.css">
</head>

<style type="text/css">

    .login-alert-msg {
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
        position: relative;
        padding: .75rem 1.25rem;
        margin-bottom: 1rem;
        border: 1px solid transparent;
        border-radius: .25rem;
    }


    .login-hero {
        background-image: url(/img/login-hero3.jpg);
    }

    .rounded-nice {
        border-radius: 0.7rem;
    }
</style>


<script type='text/javascript' src='~/lib/knockout/knockout-latest.js'></script>
<script type="text/javascript">

    var ViewModel = function () {
        this.receivedBy = ko.observable('');
        //this.receivedBySignedDate = ko.observable('@DateTime.Now.ToString("yyyy-MM-dd")');
        this.docId = @Model.DocId;
        this.accessCode = '@Model.AccessCode';
        this.baseURL = '@Model.BaseURL';

        this.actionInProgress = ko.observable(false);
        this.actionInProgressDescription = ko.observable('');
        this.actionCompleted = ko.observable(false);
        this.actionCompletedDescription = ko.observable('');

        this.signDocumentEnable = ko.pureComputed(function () {
            return this.receivedBy && this.receivedBy().length > 0
        }, this);

        this.completePartialSignature = function () {
            let url = `${this.baseURL}/api/v1/signdocumentfulfillreceive?DocId=${this.docId}&AccessCode=${this.accessCode}&ReceivedBy=${this.receivedBy()}`;

            this.actionInProgressDescription('Signing document...');
            this.actionInProgress(true);
            fetch(url,
                {
                    method: 'GET',
                    headers: { 'Content-Type': 'application/json' }
                }).then(res => res.json())
                .then(reply => {
                    this.actionInProgress(false);

                    let outcome = reply.value;
                    if (outcome.succeeded) {
                        this.actionCompletedDescription('Document has been Signed. Thank You!');
                    } else {
                        this.actionCompletedDescription(outcome.errorMessage);
                    }

                    this.actionCompleted(true);
                })
                .catch(error => {
                    console.log('Error:', error);
                });
            }
    };

    document.addEventListener("DOMContentLoaded", function (event) {
        ko.applyBindings(new ViewModel());
    });



</script>

@if (Model.CodeIsValid)
{
    <body class="bg-gray bg-texture">
        <div class="modal modal--forms d-block" id="docSignatureModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="docSignatureModalLabel" aria-hidden="false">
            <div class="modal-dialog modal-dialog-centered modal" style="max-width: 600px" role="document">
                <div class="modal-content modal-content--dark-blue shadow">
                    <div class="modal-header">
                        <h5 class="modal-title mr-auto">SERVICETRAX - DOCUMENT SIGNING</h5>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-row mb-3">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-12">
                                            Click the link below to review the Document that you are about to sign.
                                        </div>
                                    </div>
                                    <div class="row text-center mt-3">
                                        <div class="col-12">
                                            <a href="/ProjectFiles/SignDocumentVault/@Model.DocId/@Model.AccessCode" target="_blank"><strong style="color:forestgreen"><i class="far fa-eye mr-3"></i>See the File you're about to Sign</strong></a>
                                        </div>
                                    </div>
                                    <div class="row mt-5">
                                        <div class="col-12">
                                            <label>Delivered By</label>
                                            <input type="text" class="form-control" readonly="readonly" value="@Model.Signature_DeliveredBy" />
                                        </div>
                                        <div class="col-12 text-right">
                                            <small>Signed Date: @Model.Signature_DeliveredBySignedDate</small>
                                        </div>
                                        @*<div class="col-4 pl-1">
                                                <label>Delivered Date</label>
                                                <input type="date" class="form-control" readonly="readonly" value="@Model.Signature_DeliveredBySignedDate" />
                                            </div>*@
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-12">
                                            <div class="d-flex flex-column">
                                                <div class="d-flex flex-column">
                                                    <div>
                                                        <label>Received By</label>
                                                    </div>
                                                    <div class="d-flex">
                                                        <input type="email" class="form-control" id="receivedbyinput" data-bind="textInput: receivedBy" placeholder="Please enter your signature..." />
                                                    </div>
                                                </div>
                                                <div>
                                                    <div class="help-block invalid-feedback" data-bind="validationMessage: receivedBy"></div>
                                                </div>
                                            </div>
                                        </div>
                                        @*<div class="col-4 pl-1">
                                                <label>Received Date</label>
                                                <input type="date" class="form-control" id="receiveddateinput" data-bind="value:receivedBySignedDate" />
                                                <div class="help-block invalid-feedback" data-bind="validationMessage: receivedBySignedDate"></div>
                                            </div>*@
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-12 text-right">
                                <button type="button" class="btn btn-primary" data-bind="enable:signDocumentEnable, click:completePartialSignature">
                                    SIGN DOCUMENT
                                </button>
                            </div>
                        </div>
                        <!-- ko if:actionInProgress() ||  actionCompleted() -->
                        <div class="row mt-5 border rounded mx-3">
                            <!-- ko if:actionInProgress -->
                            <div class="col-12 d-flex p-3">
                                <div>
                                    <i class="fas fa-spinner fa-pulse mr-3"></i><span data-bind="text:actionInProgressDescription"></span>
                                </div>
                            </div>
                            <!-- /ko -->
                            <!-- ko if:actionCompleted -->
                            <div class="col-12 d-flex flex-column p-3">
                                <div data-bind="text:actionCompletedDescription"></div>
                                @*<button type="button" class="btn btn-sm btn-outline-info px-3 mt-3 align-self-end" data-bind="click:closeDialogAfterSignature">
                                        <em class="fas fa-times"></em> Close
                                    </button>*@
                            </div>
                            <!-- /ko -->
                        </div>
                        <!-- /ko -->
                    </div>
                </div>
            </div>
        </div>

        <script src="~/js/main.js"></script>
        <script src="~/override/main-custom.js"></script>
    </body>
}
else
{
    <div class="alert alert-info mx-5 my-2">
        @Model.ErrorMessage
    </div>
}